* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family:  Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.seccion-perfil-usuario .perfil-usuario-header {
    text-align: center;
    width: 98%;
    display: flex;
    justify-items: center;
    background: linear-gradient(#2C3E50, transparent);
    margin-bottom: 1.25rem;
    position: relative;
    height: 100px;
    background-image: linear-gradient(to right, #eeece2 , hsla(59, 82%, 11%, 0.664));
    border-radius: 0 0 20px 20px;
    margin-top: 0%;
}

  

.seccion-perfil-usuario .perfil-usuario-body .boton-enviar {
    position: relative;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body .boton-enviar i {
    margin-right: 1rem;
}



.seccion-perfil-usuario .perfil-usuario-body {
    width: 50%;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 0,5%;
  
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: flex;
    width: 100%;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 1%;
    
  
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    display: flex;
    color: #848484;
    font-size: 2.25em;
    border-radius: 10%;
    width: 100%;
    margin-bottom: 3%;
   
}



/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}
/*navbar*/
.container_nav {
    display: flex;
    justify-content: space-between;
    margin: .9rem;
    background: #2C3E50;
    
}

.container_nav_menu {
    margin-top: 30px;
}

.ulNav {
    list-style-type: none;
}

.ulNav li {
    display: inline;
    text-align: center;
    margin: 0 20px 0 0;
    font-size: 25px;
}

.aNav {
    text-decoration: none;
    color: white;
    font-family: 'Poppins',sans-serif;
}

.aNav:hover {
    color: brown;
}

/*Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #2C3E50;
    padding: 10px 0 10px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: auto;
    border-bottom: 2px solid #ccc;
}

.content-foo {
    text-align: center;
    flex: 1;
}

.mapa {
    margin-top: 10px;
    border-radius: 10%;
    margin-bottom: 5px;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo h3 {
    color: #d5d5b5f1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo h3 a {
    color: #d5d5b5f1;

    padding-bottom: 5px;
    margin-bottom: 10px;
}

.adress {
    color: #ccc;
    padding-bottom: 5px;
    margin-top: 2%;

}

.somos {
    margin-top: 40px;
    text-align: left;
    color: #ccc;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.redes {
    margin-bottom: 20px;
}

.redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}